.header {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    margin: 20px 30px 0;
}

.header-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
}


.user-menu{
    position: relative;
    padding-right: 25px;
    cursor: pointer;
}

.user-menu svg{
    position: absolute;
    right: 5px;
    top: 18px;
}