.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin: 30px 30px 0;
}

.functional-wrapper {
    padding-right: 30px;
}

.user-statistics {
    background: #F7F7FC;
    border-radius: 10px;
    padding: 20px;
}

.user-main-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.user-name {
    display: grid;
    row-gap: 3px;
}

.profile-id {
    cursor: pointer;
    transition: 0.3s;
}

.profile-id:hover {
    color: #8686f6;
    transition: 0.3s;
}

.statistics-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.statistics-number {
    text-align: center;
}

.nav-list {
    display: grid;
    row-gap: 10px;
    margin-top: 30px;
}

.nav-button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #919191;
}

.nav-button:hover {
    background: #8686f6;
    color: #ffffff;
    transition: 0.3s;
}

.nav-button:hover path {
    fill: #ffffff;
}

.nav-button:hover svg {
    fill: #ffffff;
}

.nav-button svg {
    width: 30px;
    fill: #919191;
}

.nav-button path {
    fill: #919191;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.other-wrapper {
    padding-left: 30px;
}

.friends-list {
    display: grid;
    row-gap: 5px;
    margin-top: 20px;
}

.friend {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
    background: #F7F7FC;
    border-radius: 10px;
}

/* content-wrapper*/

.content-wrapper {
    background: #F7F7FC;
    border-radius: 10px;
}